.header-wrapper ul {
  position: fixed;
  z-index: 1;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #263139;
  color: white;
}
.header-wrapper ul .logo img {
  margin-left: 3rem;
  height: 50px;
  width: 50px;
}
.header-wrapper ul li {
  float: left;
}
.header-wrapper ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Roboto";
  color: white;
}
.header-wrapper ul li a:hover {
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
}
.header-wrapper body {
  background-color: #F6F7FA;
}
.header-wrapper .signup {
  background-color: #4DAE50;
  border-radius: 5px;
  color: white;
}
.header-wrapper .signup:hover {
  background-color: #5dc65f;
}
.header-wrapper .user {
  margin-right: 5rem;
}
.header-wrapper .login {
  color: #4DAE50;
  margin-right: 1rem;
}
.header-wrapper .header {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: white;
  margin: 0;
}
body .section-wrapper .alternative-headline {
  color: #4CAF50;
}
body .section-wrapper h1 {
  font-size: 40px;
}
body .section-wrapper .section {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
body .section-wrapper button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
body .section-wrapper button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
body .section-wrapper img {
  width: 15rem;
  height: 15rem;
  margin-inline: auto;
  object-fit: cover;
}
body .section-wrapper .section-one {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .section-wrapper .section-one p {
  font-size: 40px;
}
body .section-wrapper .section-one img {
  width: 100%;
  height: 14rem;
  border-radius: 30px;
}
body .section-wrapper .section-two,
body .section-wrapper .section-four,
body .section-wrapper .section-five {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .section-wrapper .section-two p {
  font-size: 20px;
}
body .section-wrapper .section-two .image-2 {
  margin-inline: auto;
}
body .section-wrapper .section-three {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body .section-wrapper .section-three-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  font-size: 20px;
}
body .section-wrapper .section-three-numbers .section-three-numbers-1,
body .section-wrapper .section-three-numbers .section-three-numbers-2,
body .section-wrapper .section-three-numbers .section-three-numbers-3,
body .section-wrapper .section-three-numbers .section-three-numbers-4 {
  display: flex;
  align-items: center;
}
body .section-wrapper .section-three-numbers img {
  width: 50px;
  height: 50px;
  margin-inline: unset;
}
body .section-wrapper .section-four img {
  transform: rotate(-25deg);
}
body .section-wrapper .section-five {
  background-color: lightgray;
}
body .section-wrapper .section-six {
  padding: 2rem;
  text-align: center;
}
body .section-wrapper .section-six .faq-teaser {
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
body .section-wrapper .section-six .faq-teaser-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body .section-wrapper .section-six .faq-teaser p {
  color: #4CAF50;
}
body .section-wrapper .section-six .faq-teaser-box {
  background-color: #e7e4e4;
  margin-inline: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
body .section-wrapper .section-six .faq-teaser img {
  border-radius: 20px;
  max-width: 320px;
  width: auto;
}
body .section-wrapper .section-six .faq-teaser h3 {
  font-size: 24px;
  margin: 10px 0;
}
body .section-wrapper .section-six .faq-teaser p {
  font-size: 16px;
}

footer .footer {
  background-color: #263139;
  color: white;
  padding: 1rem;
}
footer .footer:after {
  content: "";
  display: table;
  clear: both;
}
footer .clear {
  float: left;
  width: 13%;
}
footer .left {
  margin-bottom: 3%;
  float: left;
  width: 13%;
}
footer .middle {
  float: left;
  width: 13%;
}
footer .right {
  float: left;
  width: 61%;
}
footer a {
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}
footer input[type=email],
footer select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*# sourceMappingURL=test.css.map */
