
.header-wrapper {
  ul {
    position: fixed;
    z-index: 1;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #263139;
    color: white;

    .logo img {
      margin-left: 3rem;
      height: 50px;
      width: 50px;
    }

    li {
      float: left;

      a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: "Roboto";
        color: white;

        &:hover {
          background-color: rgb(220, 220, 220);
          border-radius: 5px;
        }
      }
    }
  }

  body {
    background-color: #F6F7FA;
  }

  .signup {
    background-color: #4DAE50;
    border-radius: 5px;
    color: white;

    &:hover {
      background-color: #5dc65f;
    }
  }

  .user {
    margin-right: 5rem;
  }

  .login {
    color: #4DAE50;
    margin-right: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }
}

body {
  --color-main: #4CAF50;
  --headline-font-size: 2rem;
  --p-font-size: 0.8rem;
  --bg-color-dark: lightgray;

  background-color: white;
  margin: 0;

  .section-wrapper {
    .alternative-headline {
      color: var(--color-main);
    }

    h1 {
      font-size: var(--headline-font-size);
      max-width: 800px;
    }

    p {
      font-size: var(--p-font-size);
      max-width: 800px;
    }

    .section {
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      background-color: var(--color-main);
      border: none;
      color: white;
      padding: 1rem 1.6rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    button:hover {
      transform: translateY(-5px);
      cursor: pointer;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    img {
      width: 10rem;
      height: 10rem;
      margin-inline: auto;
      object-fit: cover;
    }


    .section-two,
    .section-four,
    .section-five {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .section-one {
      background-color: var(--bg-color-dark);
      display: flex;
      flex-direction: column;
      text-align: center;
      align-content: center;


      img {
        width: 100%;
        max-width: 600px;
        height: 14rem;
        border-radius: 30px;
      }
    }

    .section-two {
      .image-2 {
        margin-inline: auto;
      }
    }

    .section-three {
      background-color: var(--bg-color-dark);
      display: flex;
      flex-direction: column;
      text-align: center;

      &-numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        font-size: 20px;
        margin-top: 2rem;

        .section-three-numbers-1,
        .section-three-numbers-2,
        .section-three-numbers-3,
        .section-three-numbers-4 {
          display: flex;
          align-items: center;
        }

        img {
          width: 50px;
          height: 50px;
          margin-inline: unset;
        }
      }
    }

    .section-four {
      img {
        transform: rotate(-25deg);
      }
    }

    .section-five {
      background-color: var(--bg-color-dark);
    }

    .section-six {
      padding: 2rem 2rem 4rem 2rem;
      text-align: center;
      display: flex;
      flex-direction: column;

      .faq-teaser {
        text-align: center;
        padding: 20px;
        position: relative;
        display: flex;
        justify-content: center;

        &-wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 2rem;
        }


        &-box {
          background-color: var(--bg-color-dark);
          margin-inline: 2rem;
          padding: 0.5rem 2rem;
          border-radius: 10px;
          position: absolute;
          bottom: -20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
        }

        img {
          border-radius: 20px;
          max-width: 320px;
          width: auto;
        }

        h3 {
          font-size: 24px;
          margin: 10px 0;
        }

        p {
          color: var(--color-main);
        }
      }
    }
  }
}

footer {
  .footer {
    background-color: #263139;
    color: white;
    padding: 1rem;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .clear {
    float: left;
    width: 13%;
  }

  .left {
    margin-bottom: 3%;
    float: left;
    width: 13%;
  }

  .middle {
    float: left;
    width: 13%;
  }

  .right {
    float: left;
    width: 61%;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    font-family: "Roboto";
  }

  input[type="email"],
  select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

}

@media (min-width: 992px) {
  body {
    .section-wrapper {
      h1 {
      }

      .section {
        padding: 3rem 5rem;
        column-gap: 4rem;
      }

      .section-one {
        display: flex;
        flex-direction: row;

        img {
          order: 1;
          margin-left: 5rem;
        }
      }

      .section-three {
        flex-direction: row;
      }

      .section-five img {
        order: 1;
      }

      .section-two,
      .section-four,
      .section-five {
        flex-direction: row;
      }
    }
  }
}

@media (min-width: 1201px) {
  body {
    --p-font-size: 1rem;
  }
}