body {
  background-color: white;
  margin: 0;
}

.section-wrapper .alternative-headline {
  color: #4CAF50;
}
.section-wrapper h1 {
  font-size: 40px;
}
.section-wrapper .section {
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}
.section-wrapper button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.section-wrapper button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.section-wrapper .section-one {
  background-color: lightgray;
}
.section-wrapper .section-one p {
  font-size: 60px;
}
.section-wrapper .section-one img {
  width: 30rem;
  height: 20rem;
  border-radius: 30px;
}
.section-wrapper .section-two p,
.section-wrapper .section-four p,
.section-wrapper .section-five p {
  font-size: 20px;
}
.section-wrapper .section-two .image-2,
.section-wrapper .section-four .image-2,
.section-wrapper .section-five .image-2 {
  width: 300px;
  height: 300px;
  margin-right: 6rem;
}
.section-wrapper .section-three {
  background-color: lightgray;
  display: flex;
}
.section-wrapper .section-three-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-right: 10rem;
  font-size: 20px;
}
.section-wrapper .section-three-numbers .section-three-numbers-1,
.section-wrapper .section-three-numbers .section-three-numbers-2,
.section-wrapper .section-three-numbers .section-three-numbers-3,
.section-wrapper .section-three-numbers .section-three-numbers-4 {
  display: flex;
  align-items: center;
}
.section-wrapper .section-three-numbers img {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}
.section-wrapper .section-four img {
  transform: rotate(-25deg);
}
.section-wrapper .section-five {
  background-color: lightgray;
}
.section-wrapper .section-five img {
  margin-left: 6rem;
}
.section-wrapper .section-six {
  padding: 4rem;
  text-align: center;
}
.section-wrapper .section-six .faq-teaser {
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.section-wrapper .section-six .faq-teaser-wrapper {
  display: flex;
  flex-direction: row;
}
.section-wrapper .section-six .faq-teaser p {
  color: #4CAF50;
}
.section-wrapper .section-six .faq-teaser-box {
  background-color: #e7e4e4;
  margin-inline: 2rem;
  padding: 0.5rem 4rem;
  border-radius: 10px;
  position: absolute;
  bottom: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
.section-wrapper .section-six .faq-teaser img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
}
.section-wrapper .section-six .faq-teaser h3 {
  font-size: 24px;
  margin: 10px 0;
}
.section-wrapper .section-six .faq-teaser p {
  font-size: 16px;
}

/*# sourceMappingURL=test.css.map */
